.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    position: relative;
}

.game_cover {
    width: 100%;
    position: absolute;
    top: 0;
}

.title_welcome {
    font-family: "'Press Start 2P', cursive";
    font-size: 42;
    color: 'rgb(2, 77, 25)';
    text-shadow: '2px 2px 10px rgb(255, 239, 12)';
}